<!doctype html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

  <!-- 插件 -->
  <!-- 引入 Prism.css -->
  <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet" />
  <!-- 引入 toolbar 插件的 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/plugins/toolbar/prism-toolbar.css" />
  <!-- 引入 prism-copy-to-clipboard 插件的 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.css"
    rel="stylesheet">
  <!-- Mermaid -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.css">
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <!-- KaTex-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"
    integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
    integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
    crossorigin="anonymous"></script>
  <!-- 统一加载 -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // 选择所有 language-mermaid 类的元素
      var elements = document.querySelectorAll('.language-mermaid');

      // 遍历并更改类名为 mermaid
      elements.forEach(function (el) {
        el.className = el.className.replace('language-mermaid', 'mermaid');
      });

      // 初始化 Mermaid 以渲染图表
      mermaid.initialize({
        startOnLoad: true
      });

      // KATEX
      renderMathInElement(document.body, {
        // customised options
        // • auto-render specific keys, e.g.:
        delimiters: [
          { left: '$$', right: '$$', display: true },
          { left: '$', right: '$', display: false },
          { left: '\\(', right: '\\)', display: false },
          { left: '\\[', right: '\\]', display: true }
        ],
        // • rendering keys, e.g.:
        throwOnError: false
      });
    });
  </script>
  <!-- END: 插件 -->
  <link rel="stylesheet" href="./css/tabs.css">
  <title>{% block title %}Candlest's Blog{% endblock %}</title>
</head>

<body lang="zh-Hans-CN" data-prismjs-copy="复制文本" data-prismjs-copy-error="按Ctrl+C复制" data-prismjs-copy-success="文本已复制！">
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">主页</a></li>
          <li><a href="/feed.xml">RSS</a></li>
          <li><a href="/friends.html">友链</a></li>
          <li><a href="/about.html">关于</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
    <div id="commit">
      <script src="https://giscus.app/client.js" data-repo="candlest/candlest.github.io" data-repo-id="R_kgDOJ_ICfw"
        data-category="Announcements" data-category-id="DIC_kwDOJ_ICf84CYNFn" data-mapping="pathname" data-strict="0"
        data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="zh-CN"
        data-loading="lazy" crossorigin="anonymous" async>
        </script>
    </div>
  </main>
  <footer>
    <p align="center">
      <small>
        <i>generated by <a href="https://github.com/Candlest/rigos">rigos</a>, beautified by <a
            href="https://picocss.com/">pico.css</a>.</i>
      </small>
    </p>
  </footer>
  <!-- 引入 Prism.js -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
</body>

</html>