{% extends "base" %}
{% block title %}Candlest 's Blog{% endblock %}
{% block content %}
{{contents | safe }}
<div class="article-index">
  <h1>文章索引</h1>
  <div class="tabs">
    <button class="tablinks" onclick="openTab(event, 'Time')">时间排序</button>
    <button class="tablinks" onclick="openTab(event, 'Tags')">Tags归档</button>
    <button class="tablinks" onclick="openTab(event, 'Categories')">Categories归档</button>
  </div>

  <div id="Time" class="tabcontent">
    <!-- 按时间排序的文章列表 -->
    {% for post in list %}
    <article>
      <h2><a href="./Post/{{post.info.filename}}.html">{{post.info.title}}</a></h2>
      <p>{{post.info.category}}</p>
      <time datetime="{{post.info.date}}">{{post.info.date}}</time>
    </article>
    {% endfor %}
  </div>

  <div id="Tags" class="tabcontent">
    <!-- 按Tags归档的文章列表 -->
    {% for tag, posts in tags_dict | items %}
    <details>
      <summary>{{ tag }}</summary>
      {% for post in posts %}
      <article>
        <h2><a href="./Post/{{post.info.filename}}.html">{{post.info.title}}</a></h2>
        <p>{{post.info.category}}</p>
        <time datetime="{{post.info.date}}">{{post.info.date}}</time>
      </article>
      {% endfor %}
    </details>
    {% endfor %}
  </div>

  <div id="Categories" class="tabcontent">
    <!-- 按Categories归档的文章列表 -->
    {% for category, posts in categories_dict | items %}
    <details>
      <summary>{{ category }}</summary>
      {% for post in posts %}
      <article>
        <h2><a href="./Post/{{post.info.filename}}.html">{{post.info.title}}</a></h2>
        <p>{{post.info.category}}</p>
        <time datetime="{{post.info.date}}">{{post.info.date}}</time>
      </article>
      {% endfor %}
    </details>
    {% endfor %}
  </div>

  <script src="./js/tabs.js"></script>
</div>
{% endblock %}